<!DOCTYPE html>
<html>

<head>
	<title>{{media.name}} | PRList.co </title>

    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />

    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,500,700|Roboto:500,300,700,400' rel='stylesheet' type='text/css'>

</head>

<body>
    
    <div class="header_site">
        <a href="/"> PRList.co </a>
    </div>

    	<div class="media_header">
    	    <h2 class="title"> {{media.name}} </h2>

            <a href="http://{{media.link}}" class="media_header_link" target="_blank">
                <img src="{% static 'img/link.png' %}"> </img>
                {{media.link}}
            </a>

    	</div>

    	<div class="toggle_box">
    		<div class="toggle">
    	    	<a href="#" id="about" class="active"> About </a>
    	    	<a href="#" id="journalists"> Journalists </a>
    		</div>
    	</div>



        <div id="about_section" style="display:block;">

    	<div class="center_wrapper">

    		<ul class="about_media_list">

                <li class="about_media_list_element"> 
                    <p class="first_element"> Platforms </p>

                    <div class="about_media_right_element">

                        <p class="second_element"> 

                        {% if "ios" in media.platforms %}     
                            <img src="{% static 'img/ios.png' %}" /> 
                        {% endif %}

                        {% if "android" in media.platforms %} 
                            <img src="{% static 'img/android.png' %}" />  
                        {% endif %}
                        
                        {% if "web" in media.platforms %}     
                            <img src="{% static 'img/web.png' %}" style="width: 30px; height: 10px" />   
                        {% endif %}

                        </p>

                        
                        <a href="{% url 'media:media_update' media.slug 'platforms' %}">
                            <img src="{% static 'img/edit.png' %}" />
                        </a>
                    </div>
                </li>


                <li class="about_media_list_element element_bg"> 

                    {% if media.link_to_facebook != 'None' %}

                        <a href="{{media.link_to_facebook}}" class="first_element" target="_blank"> 
                            <p style="margin-right:0;"> Facebook </p> 
                            <img src="{% static 'img/open_link.png' %}" style="width: 12px;opacity: 0.6;" />
                        </a>

                    {% else %}

                        <p class="first_element"> Facebook </p> 

                    {% endif %}

                    <div class="about_media_right_element">

                        {% if media.amount_facebook_likes != 'None' %}
                            <p class="second_element"> {{media.amount_facebook_likes}} Likes </p>
                        {% else %}
                            <p class="second_element"> None </p>
                        {% endif %}
                        
                        <a href="{% url 'media:media_update' media.slug 'amount_facebook_likes' %}">
                            <img src="{% static 'img/edit.png' %}" />
                        </a>
                    </div>
                </li>
                
                <li class="about_media_list_element element_bg"> 

                    {% if media.link_to_twitter != 'None' %}

                        <a href="{{media.link_to_twitter}}" class="first_element" target="_blank"> 
                            <p style="margin-right:0;"> Twitter </p> 
                            <img src="{% static 'img/open_link.png' %}" style="width: 12px;opacity: 0.6;" />
                        </a>

                    {% else %}

                        <p class="first_element"> Twitter </p> 

                    {% endif %}

                    <div class="about_media_right_element">

                        {% if media.amount_twitter_followers != 'None' %}
                            <p class="second_element"> {{media.amount_twitter_followers}} Followers  </p>
                        {% else %}
                            <p class="second_element"> None </p>
                        {% endif %}
                        
                        <a href="{% url 'media:media_update' media.slug 'amount_twitter_followers' %}">
                            <img src="{% static 'img/edit.png' %}" />
                        </a>
                    </div>

                </li>

    			<li class="about_media_list_element"> 
                    <p class="first_element"> Categories </p>

                    <div class="about_media_right_element">
                        <p class="second_element"> {{media.categories}} </p>
                        
                        <a href="{% url 'media:media_update' media.slug 'categories' %}">
                            <img src="{% static 'img/edit.png' %}" />
                        </a>
                    </div>

                </li>
    			
                <li class="about_media_list_element">

                    {% if media.link_to_alexa_rank != 'None' %}

                        <a href="{{media.link_to_alexa_rank}}" class="first_element" target="_blank"> 
                            <p style="margin-right:0;"> Alexa </p> 
                            <img src="{% static 'img/open_link.png' %}" style="width: 12px;opacity: 0.6;" />
                        </a>

                    {% else %}

                        <p class="first_element"> Alexa </p> 

                    {% endif %}


                    <div class="about_media_right_element">
                        <p class="second_element"> {{media.alexa_rank}} </p>
                        
                        <a href="{% url 'media:media_update' media.slug 'alexa_rank' %}">
                            <img src="{% static 'img/edit.png' %}" />
                        </a>
                    </div>

                </li>
                
                <li class="about_media_list_element element_bg"> 
                    <p class="first_element"> Language </p>

                    <div class="about_media_right_element">
                        <p class="second_element"> {{media.language}} </p>
                        
                        <a href="{% url 'media:media_update' media.slug 'language' %}">
                            <img src="{% static 'img/edit.png' %}" />
                        </a>
                    </div>

                </li>

                <li class="about_media_list_element element_bg"> 
                    <p class="first_element"> Email </p>

                    <div class="about_media_right_element">
                        <p class="second_element"> {{media.email}} </p>
                        
                        <a href="{% url 'media:media_update' media.slug 'email' %}">
                            <img src="{% static 'img/edit.png' %}" />
                        </a>
                    </div>

                </li>
                
                <li class="about_media_list_element"> 

                    {% if media.link_to_submit != 'None' %}

                        <a href="{{media.link_to_submit}}" class="first_element" target="_blank"> 
                            <p style="margin-right:0;"> Submit page </p> 
                            <img src="{% static 'img/open_link.png' %}" style="width: 12px;opacity: 0.6;" />
                        </a>

                    {% else %}

                        <p class="first_element"> Submit page </p> 

                    {% endif %}


                    <div class="about_media_right_element">

                        {% if media.link_to_submit != 'None' %}
                            <p class="second_element">  </p>
                        {% else %}
                            <p class="second_element"> None </p>
                        {% endif %}
                        
                        <a href="{% url 'media:media_update' media.slug 'link_to_submit' %}">
                            <img src="{% static 'img/edit.png' %}" />
                        </a>
                    </div>

                </li>

    		</ul>

    	</div>

        <div class="center_wrapper" style="max-width: 650px;">

            {% for comment in comments %}
            <div class="comment" id="comment_{{comment.id}}">
                <img src="{{comment.author.socialaccount_set.all.0.extra_data.profile_image_url}}" />
                <!-- 
                    <p class="time_create"> Mi S.</p>
                -->


                <div class="header">
                    <p class="name">{{comment.author.first_name}} {{comment.author.last_name}}</p>
                    
                    <a href="https://twitter.com/intent/tweet?source=http://prlist.co&text=@{{comment.author.socialaccount_set.all.0.extra_data.screen_name}}'s thoughts on {{media.name}}&url=http://localhost:8000{% url 'media:media_detail' media.slug %}%23comment_{{comment.id}}" class="comment_share" target="_blank"> 
                        <img src="{% static 'img/share.png' %}" />
                        <p> Share </p> 
                    </a>
                </div>

                <p class="text">
                    {{comment.text}}
                </p>

            </div>
            {% endfor %}




            <form action="" method="post" style="margin-top: 120px;" class="comment">
            {% csrf_token %}

                {% if request.user.is_authenticated %}

                    {{ form.text.errors }}

                    <img src="{{request.user.socialaccount_set.all.0.extra_data.profile_image_url}}" />
                
                    <p class="text">
                        {{form.text}}
                        <input type="submit" value="Submit" class="comment_submit comment_submit_active" />
                    </p>

                {% else %}

                    <img src="{% static 'img/anonim_user.png' %}" />
                
                    <p class="text disabled_input_text">

                        <textarea placeholder="You must be logged in to leave a comment." cols="40" id="id_text" name="text" rows="10" disabled="disabled"></textarea>

                        <input type="submit" value="Submit" class="comment_submit" style="opacity: 0.5;" />

                        <a href="/accounts/twitter/login/?process=login" class="comment_submit comment_submit_active"> Log In </a>
                    </p>

                {% endif %}


            </form>

        </div> <!-- end center_wrapper for comments-->

        </div> <!-- end about_section -->

        <div id="journalists_section" style="display:none;">

            <div class="center_wrapper" style="width:80%;">

                <a href="{% url 'media:journalist_create' media.slug %}" class="comment_submit comment_submit_active" style="float: right;padding: 15px 20px;margin:0;">
                    Add a journalist 
                </a> 

                <ul style="padding-top:65px;">

                    {% for journalist in journalists %}

                    <a href="{% url 'media:journalist_detail' media.slug journalist.slug %}" class="journalists_list_element"> 
                        <p> {{journalist.name}} </p>
                        <p style="text-align:center;"> {{journalist.position}} </p>
                        <p style="float:right;text-align:right;"> {{journalist.categories}} </p>
                    </a>

                    {% endfor %}

                </ul>
                
            </div>
        


        </div>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>

    <script type="text/javascript">

        $('.toggle a').click(function() {

            $(this).addClass('active');
            $(this).siblings().removeClass('active');

            id = $(this).attr('id');
            id = id + '_section';

            id2 = $(this).siblings().attr('id');
            id2 = id2 + '_section';

            $('#' + id).css('display', 'block');
            $('#' + id2).css('display', 'none');
        });

    </script>


    <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-63672129-1', 'auto');
  ga('send', 'pageview');

</script>

</body>
</html>
